body{
    text-align: center;
}

form{
    display: inline-block;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
    opacity: 0.7;
}

.userForms{
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 30rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}

.groupForms{
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 30rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}

.channelForms{
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 30rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}

.chat {
    width: 100%;
    display: inline-block;
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 60rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
    opacity: 0.7;
}

.inGroup {
    width: 90%;
    display: inline-block;
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 45rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}

.groupSeg {

}

/* Group section Top Div */
.groupSegTop{
    display: flex;
    justify-content: space-between;
}

.groupTopLeft {
    display: block;
    background-color: #420d09;
    width: 20%;
    color: pink;
}

.groupTopMid {
    display: block;
    background-color: #420d09;
}

.groupTopRight {
    display: block;
    background-color: #420d09;
}

/* Group section Middle Div */
.groupSegMid {
    display: flex;
    justify-content: space-between;
}

.groupMidLeft {
    display: block;
    background-color: #420d09;
    width: 20%;
    color: pink;
}

.groupMidMid {
    display: block;
    background-color: #420d09;
}

.groupMidRight {
    display: block;
    background-color: #420d09;
}

.inChannel {
    width: 90%;
    display: inline-block;
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 45rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}