.dashboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
    opacity: 0.7;
}

.userForms{
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 30rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}

.groupForms{
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 30rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}

.channelForms{
    background-color: rgb(20, 20, 20);
    padding: 5%;
    max-width: 30rem;
    border-color: #420d09; 
    border-width:5px; 
    border-style:double; 
    border-radius: 20px;
}